<main class="step">
    <!-- Title and Information  -->
    <section id="information">
        <h1 class="head-title">Confirmation</h1>
        <span id="status-message">Please wait a moment while we confirm your location</span>
    </section>

    <!-- Spinner and Check  -->
    <section id="check-or-x" class="step">
        <div class="spinner"></div>
    </section>

    <!-- Description  -->
    <section id="description" class="">
        <p class="description-text"></p>
    </section>
</main>
