<main class="step">
    <!-- Title and Information  -->
    <section id="information">
        <h1 class="head-title">L<i class="fa fa-lock" aria-hidden="true"></i>cB<i class="fa fa-unlock-alt" aria-hidden="true"></i>x</h1>
        <p id="status-message">Please wait a moment while we confirm your location</p>
    </section>

    <!-- Spinner and Check  -->
    <section id="check-or-x" class="step">
        <div class="spinner"></div>
    </section>

    <section class="countdown text-center">

      <div class="time-circle">
        <div class="progress"></div>
        <span class="time hours"></span>
        <span class="time-name">hrs</span>
      </div>
      <span class="dots">:</span>
      <div class="time-circle">
        <div class="progress"></div>
        <span class="time minutes"></span>
        <span class="time-name">min</span>
      </div>
      <span class="dots">:</span>
      <div class="time-circle">
        <div class="progress"></div>
        <span class="time seconds"></span>
        <span class="time-name">sec</span>
      </div>
    </section>

</main>
