<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- External  -->

    <!-- Styles  -->
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/confirm.css">
    <link rel="stylesheet" href="/stylesheets/transactions.css">

    <script src="/javascripts/confirm.js" charset="utf-8"></script>
    {{#if secure}}
    <script src="/javascripts/transactions.js" charset="utf-8"></script>
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
