<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- External  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" charset="utf-8"></link>

    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDqDzB7ALE3K3Uj9KRSsCK81L5b9jbivFg",
            authDomain: "asdfasda-4bc1f.firebaseapp.com",
            databaseURL: "https://asdfasda-4bc1f.firebaseio.com",
            storageBucket: "asdfasda-4bc1f.appspot.com",
            messagingSenderId: "153229429"
        };
        firebase.initializeApp(config);
    </script>


    <!-- Styles  -->
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/confirm.css">
    <link rel="stylesheet" href="/stylesheets/transactions.css">

    <script src="/javascripts/confirm.js" charset="utf-8"></script>
    {{#if secure}}
    <script src="/javascripts/transactions.js" charset="utf-8"></script>
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
