/* Elements */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  outline: none;
  background-image: url("../images/ggb.jpg");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0px;
  overflow-y: hidden;
}

/* Modifiers */

.step {
  margin-top: 20px;
}

.box-it {
  border: 1px solid red;
}

.hidden {
  display: none;
}
