/* Elements */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* Modifiers */

.step {
  margin-top: 20px;
}

.box-it {
  border: 1px solid red;
}

.hidden {
  display: none;
}
